@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slideFromRight {
  animation: slideFromRight 0.3s ease-in-out forwards;
}

* {
  font-family: "Inter", sans-serif;
}
.font-lexend {
  font-family: "Lexend", sans-serif;
}

.color-gray {
  color: #adb5bd;
}
.dark-gray {
  color: #0b0d0d;
}

.shadow-bottom {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

@layer components {
  .btn-big {
    @apply text-whiteFixed text-btgBigF font-600 h-btgBigH px-btnBigPad rounded-4 border-2 disabled:text-whiteFixed disabled:bg-grey5 disabled:border-grey5 disabled:hover:bg-grey5 disabled:hover:border-grey5;
  }

  .btn-medium {
    @apply w-fit text-whiteFixed text-btgMedF font-600 h-btgMedH px-btnMedPad rounded-4 border-2 disabled:text-whiteFixed disabled:bg-grey5 disabled:border-grey5 disabled:hover:bg-grey5 disabled:hover:border-grey5;
  }

  .bg-duo {
    @apply bg-gradient-to-b from-brand1 from-[450px] via-grey7 via-[450px] to-grey7 to-100%;
  }

  .bg-duo-big {
    @apply bg-gradient-to-b from-brand1 from-[550px] via-grey7 via-[550px] to-grey7 to-100%;
  }

  .span-error {
    @apply absolute bottom-[-16px] right-0 text-[12px];
  }
}

.active ~ button {
  display: none;
}
.button-category {
  display: none;
}

.button-category.active {
  display: inline-block;
}
